.carousel {
  // background: linear-gradient(
  //   179.1deg,
  //   rgba(247, 238, 238, 0.829) -1.9%,
  //   rgba(247, 202, 201, 0.89) 44.9%,
  //   rgba(145, 168, 208, 0.671) 96.1%
  // );
  background-color: #f6f7dd;

  padding: 90px 0;
}
.carousel_img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 50px 0;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.carousel_item {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 100px 20px 20px 20px;
  padding: 20px;
  min-height: 370px;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, rgba(122, 88, 118, 0.479), rgba(8, 8, 8, 0.61))
      border-box;
  border: 1px solid;
  border-radius: 0 50px;
  text-align: center;
  background: linear-gradient(
    122.3deg,
    rgba(111, 71, 133, 0.74) 14.6%,
    rgba(232, 129, 167, 0.527) 29.6%,
    rgba(237, 237, 183, 0.363) 42.1%,
    rgba(244, 166, 215, 0.459) 56.7%,
    rgba(154, 219, 232, 0.418) 68.7%,
    rgba(238, 226, 159, 0.397) 84.8%
  );

  &.slick-center {
    opacity: 1;
  }
}

.carousel_textblock {
  margin-top: 90px;
  h3 {
    font-weight: 700;
  }
}
.carousel_desc {
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
}
.carousel_price {
  font-size: 16px;
  font-weight: 700;
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: -55px;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    scale: 1;
    &:hover {
      scale: 1.2;
    }
  }
}
.slick-next {
  position: absolute;
  top: 50%;
  right: -55px;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    scale: 1;

    &:hover {
      scale: 1.2;
    }
  }
}
.link_to_booksy {
  text-align: center;
  margin-top: 50px;
}
.carousel_link {
  width: 20%;
  box-shadow: 5px 5px 20px black;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 700;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.slick-dots {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    list-style: none;
    margin: 0 10px;
    &.slick-active {
      button {
        background-color: #000000;
        &:focus {
          border: 1px solid black;
        }
      }
    }
  }
  button {
    border-radius: 100%;
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid rgb(8, 6, 6);
  }
}
