@media (max-width: 1070px) {
  .carousel_item {
    margin: 100px 10px 10px;
  }
  .slick-prev {
    top: 500px;
    left: 0;
  }
  .slick-next {
    top: 500px;
    right: 0;
  }
  .about_us_desc {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .carousel_item {
    margin: 100px 20px 10px;
  }
  .header_info h1 {
    font-size: 38px;
  }
  .header_desc {
    font-size: 22px;
  }
  .h2_title {
    font-size: 28px;
  }

  .h3_title {
    font-size: 22px;
  }
  .h2_title::before {
    left: 25%;
  }
  .h2_title::after {
    right: 25%;
  }
  .carousel_link {
    font-size: 22px;
  }
  .portfolio_tabs {
    flex-wrap: wrap;
  }
  .portfolio_tab {
    min-width: 180px;
    margin-top: 10px;
  }
  .h3_title {
    font-size: 18px;
  }
  .employee_block {
    width: 90%;
  }
  .footer {
    column-gap: 90px;
  }
  .footer_social img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header_promo {
    z-index: 220;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 0;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(
      109.6deg,
      rgba(0, 0, 0, 0.822) 11.2%,
      rgba(37, 35, 35, 0.685) 78.9%
    );
    transition: all 0.6s;
    &_active {
      left: 0;
    }
    a {
      font-size: 24px;
    }
  }
  .hamburger_fixed {
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 100px;
  }
  .hamburger {
    z-index: 1220;
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 25px;

    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: black;
      margin-bottom: 4px;
      transition: all 0.5s;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:first-child {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:last-child {
          transform: rotate(45deg);
        }
      }
    }
  }
  .header {
    min-height: 500px;
  }
  .header_info {
    padding-top: 80px;
  }
  .header_info h1 {
    font-size: 30px;
  }
  .header_desc {
    font-size: 18px;
  }
  .h2_title {
    font-size: 22px;
  }
  .h2_title::before {
    left: 20%;
  }
  .h2_title::after {
    right: 20%;
  }
  .about_us {
    padding: 40px 0;
  }
  .about_us_block {
    column-gap: 20px;
  }
  .about_us_desc {
    width: 245px;
    font-size: 13px;
  }
  .about_us_desc_time {
    margin-top: 20px;
    font-size: 14px;
  }
  .about_us_reasons {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    column-gap: 20px;
    p {
      font-size: 12px;
    }
  }
  .about_us_reason {
    &::before {
      left: -15px;
    }
  }
  .carousel {
    padding: 40px 0;
  }
  .carousel_img {
    width: 130px;
    height: 130px;
  }
  .carousel_item {
    margin: 60px 20px 10px;
    min-height: 320px;
  }
  .portfolio_tabs {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .portfolio_tab {
    width: 150px;
    margin-top: 10px;
  }
  .portfolio_active {
    grid-template: 1fr / repeat(2, 1fr);
    grid-auto-rows: 220px;
    gap: 10px;
  }
  .horizontal {
    grid-row: unset;
    grid-column: unset;
  }
  .vertical {
    grid-row: unset;
    grid-column: unset;
  }
  .employee_wrapper {
    grid-template-columns: 1fr;
  }
  .employee_block {
    width: 70%;
    min-height: 400px;
  }
  .employee_img {
    height: 250px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .hamburger_fixed {
    right: 20px;
  }
  .header_info h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .header_desc {
    margin-top: 25px;
    font-size: 16px;
  }
  .h2_title::before {
    left: 7%;
    width: 15%;
  }
  .h2_title::after {
    right: 7%;
    width: 15%;
  }
  .about_us_block {
    padding-top: 10px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .about_us_desc {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 245px;
    font-size: 13px;
  }
  .about_us_reason {
    &::before {
      left: -6px;
    }
  }
  .link_to_booksy {
    font-size: 14px;
  }
  .portfolio_tab {
    width: 120px;
    margin-top: 10px;
  }
  .carousel_link {
    width: 30%;
    font-size: 18px;
  }
  .carousel_item {
    padding: 5px 5px 20px;
  }
  .carousel_img {
    width: 115px;
    height: 115px;
  }
  .portfolio_active {
    grid-template: 1fr / 1fr;
    grid-auto-rows: 220px;
    gap: 10px;
  }

  .footer {
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .footer_social_icon {
    margin-top: 10px;
  }
  .footer_address_desc {
    margin-top: 10px;
  }
  .footer_contact_desc {
    margin-top: 10px;
  }
  .employee {
    padding: 25px 0;
  }
  .employee_wrapper {
    grid-template-columns: 1fr;
  }
  .employee_block {
    width: 100%;
  }
  .employee_img_text {
    display: block;
  }
  .employee_img {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .carousel_slider {
    margin: 0 auto;
    width: 65%;
  }
}
@media (max-width: 400px) {
  .carousel_slider {
    margin: 0 auto;
    width: 70%;
  }
}
